/* @override 
	http://www1.peru.info/stylesheets/styles.css
	file:///Users/alvaropereyrarabanal/Dropbox/SharedHPNeo/marcapais/web_09/stylesheets/styles.css
	http://www1.peru.info/stylesheets/styles.css
	file:///Users/alvaropereyrarabanal/Dropbox/SharedHPNeo/marcapais/web_09/stylesheets/styles.css
	http://peru.info/stylesheets/styles.css
*/


body {
	background: #EE2E24;
	overflow:hidden;
}

a,
a:visited {
	color:white;
}

.wrapper {
	width: 857px;
	margin: 0 auto;	
	position: relative;
}




/*
	Logo
*/
h1#logo {
	background: url(../images/logo.png);
height: 98px;
    left: 0;
    position: absolute;
    top: 27px;
    width: 164px;
}

h1 a {
	width: 164px;
	height: 98px;	
	text-indent: -999em;
	display: block;
}

/*
	Header
*/

.bg-wrapper {
    height: 139px;
	position: fixed;
    top: 0;
    width: 100%;
    background: none repeat scroll 0 0 rgba(238, 46, 36, 0.75);
    z-index: 100;
}

#header {
	
    /*height: 159px;*/
    height: 139px;
width:857px;
    /*left: 0;
    right: 0;
    top: 0;*/
    z-index: 1000 !important;
}

body.schedule div#header {
	background: #6a2100 !important;
}

#bg-header {
	position: fixed;
	height: 255px;
	top:0px;
	left:0;
	right: 18px;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-header.png) right top no-repeat;
}

#header #follow-us {
	list-style: none;
	   margin: 0;
    position: absolute;
    right: 0;
    top: 17px;
}

#header #follow-us li {
	float: left;
	margin: 0 3px;
}

#header #follow-us li.title {
	text-transform: uppercase;
	font-size: 11px;
	margin: 5px 10px 0 0;
}

#header #follow-us li a {
	display: block;
	width: 20px;
	height: 20px;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/follow-us.png);
	text-indent: -999em;
	/*font-family: 'Bree';*/
}
#home_news ul.comments li.comment.clearfix div.comment-content {
	line-height: 1.6em;
}

#home_news ul.comments li.comment.clearfix div.comment-content h4 a {
	color: #fef18e;
	font-size: 16px;
}

#home_news ul.comments li.comment.clearfix div.comment-content div {
	font-size: 12px;
}

#home_news ul.comments li.comment.clearfix div.comment-content div a {
	color: #ffee9c;
}

li#section-events.section {
	z-index: 10;	
}

#section-events div.banner-dif {
	z-index: -20;
}

#home_events h2  {
	font-size: 24px;
	color: #ee2e24;
}

.events #home_events div.see-all {
	background-color: #c11b13;
}

div.content.clearfix {
	padding-bottom: 80px;
	background: white url(../images/bg-schedule.png) no-repeat center bottom;
}

div.content.clearfix {
-moz-box-shadow: 0 0 5px #989898;;
-webkit-box-shadow: 0 0 10px #989898;
box-shadow: 0 0 5px #989898;
}

body.events #home_events ul.events li.event.clearfix div.event-content h3 {
	font-size: 26px;
	margin-top: 10px;
	color: #7e786f;
	text-align: center;
}

#section-brand div.content.clearfix, #section-how div.content.clearfix
 {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

div.footer.clearfix {
	margin-top: 10px;
	padding: 10px;
	height: 20px;
	overflow: hidden;
	background-color: white;
}

#section-how div.content.clearfix h4 {
	font-size: 20px;
	color: #ee3a31;
	margin-bottom: 10px;
}

#event_content div.right_column {
	overflow: auto;
	padding: 20px;
	float: right;
	background-image: url(../images/bg-content.png);
	-moz-box-shadow: inset 0 0 5px #FFF;
-webkit-box-shadow: inset 0 0 5px #FFF;
box-shadow: inner 0 0 5px #888;
	background-color: #ee2e24;
}

div#event_content {
	overflow: auto;
	width: 800px;
}

#event_content div.right_column div.see-all {
	margin-right: 10px;
}

#event_content div.left_column {
	float: left;
	width: 400px;	
}

#section-brand div.content.clearfix ul.clearfix h3 {
	font-size: 25px;
	margin-bottom: 10px;
	color: #ee2e24;
}

#section-brand div.content.clearfix ul.clearfix p {
	margin-bottom: 10px;
	width: 90%;
	line-height: 1.6;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #616161;
}

.section div.content.clearfix ul.clearfix h4 {
	color: #ee2e24;
	font-size: 18px;
	margin-bottom: 10px;
}
#home_news ul.comments li.comment.clearfix div.comment-content h3 {
	font-size: 14px;
	line-height: 1.7em;
}

#header #follow-us .twitter {}
#header #follow-us .twitter:hover {
	background-position: left bottom;
}

#header #follow-us .facebook {
	background-position: -20px top;
}

#header #follow-us .facebook:hover {
	background-position: -20px bottom;
}

#header #follow-us .youtube {
	background-position: -40px top;
}

#header #follow-us .youtube:hover {
	background-position: -40px bottom;
}

#header #menu li,
#header #follow-us li{
	float: left;
}

#header #menu {
bottom: 47px;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 0;

}

#menu li {
	margin: 0 24px;
}

#menu li a {
	text-transform: uppercase;
	font-size: 13px;
	float:left;
	/*font-family: 'Bree';*/
	text-decoration: none;
	font-weight: lighter;
	color: #fffcf4;
}

#menu li a:hover {

	color: #f8fcb8;
}

#menu li span {
	display:block;
	font-size: 19px;
	font-weight: lighter;
}

/*
	//header
*/

/*
	generales
*/
#container{
	width: 100%;
}


#container ul{
	list-style: none;
}

.section .link-anchor {
	display: block;
	height: 159px;
}

#section-why {
	margin-bottom: 0;
}

.section .content{
	background: white;
	padding: 25px;
	color: black;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.banner-bg {
	width: 855px;
	height: 325px;
	margin-left: -20px;
	position: relative;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-banner.png);
	padding: 0 20px 34px 20px;
}

.banner-dif {
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/banners/red_diffused_background.jpg);
  	height: 325px;
    margin-left: -513px;
    position: absolute;
    width: 1907px;
    overflow:hidden;
    margin-top: 1px;
}

.banner {
	width: 855px;
	height: 325px;
	position: relative;
	border: solid 1px #EA8F86;
	margin-bottom: 25px;
}

/*
	//generales
*/

.see-all {
	float:right;
	border:solid 1px;
	border-top-color:#700702;
	border-bottom-color:#DC3C35;
	border-left-color:#93130D;
	border-right-color:#93130D;
	padding:9px;
	background:#93130D;
	height: 25px;
	width: 139px;
	text-align: center;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

.see-all a{
	height: 23px;
	width: 137px;
	border:solid 1px;
	border-top-color:#F1524B;
	border-bottom-color:#EC2116;
	border-left-color:#EC2116;
	border-right-color:#EC2116;
	background:#EC2116;
	display: block;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;	
}

.see-all a:hover {
	
}

/*
	home
*/

#section-home .banner .banner-links{
	margin: 0;
	position: absolute;
	right: 0;
	top:0;
	height: 287px;
	width: 148px;
	padding: 38px 20px 0 79px;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/banner-links2.png) left top;
	z-index: 40;
	list-style-image: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bullet.png);
}

#section-home .content {
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-content.png) repeat;
}

.content.blank{
	background:white !important;
}

#section-home .banner .banner-links li{
	margin-bottom: 15px;
	position: relative;
}

#section-home .banner .banner-links a{
	text-decoration: none;
	font-size: 13px;
	/*font-family:'Bree';*/
}

#section-home .banner .banner-links a:hover{
	text-decoration: underline;
}

#section-home .banner .banner-links li.last{
	margin-bottom: 10px; 
}

#section-home .banner .banner-links li.video{
	list-style: none;
	width: 122px;
	height:84px;
	border: solid 1px #fff;
}

#section-home .banner .banner-links li.video span{
	width: 46px;
	height: 47px;
	display: block;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/play-button.png) no-repeat;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -23px;
	margin-left: -23px; 
}

#section-home .banner .banner-content{
	margin: 0;
	/*width: 660px;*/
	height: 325px;
	list-style: none;
	overflow: hidden;
}

#home_news {
	width: 450px;
	float: left;
}



.comments {
	margin: 0;
	list-style: none;
}

#section-home .content h2 {
	margin-bottom: 10px;
	/*font-family: 'Bree';*/
	font-size: 20px;
	font-weight: lighter;
	color:white;
}

.comments h3 {
	margin-bottom: 8px;
	font-size: 13px;
}

.comments .avatar {
	border:solid 1px #EA8F86;
	width: 107px;
	height: 65px;
	float: left;
	margin-right: 15px;
	position: relative;
}

.comments .avatar .bg{
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-avatar.png) center center;
	position: absolute;
	width: 107px;
	height: 65px;
	
}

.comments .comment-content{
	float: left;
	width: 300px;
	background: url(http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-comment.png) left bottom no-repeat;
	padding-bottom: 15px;
	margin-bottom: 30px;
	color:white;
}


#home_events {
	float: left;
	width: 350px;
}

#home_events .event-content h3 {
	/*font-family:'Bree';*/
	font-size: 17px;
	font-weight: lighter;
	color: #ee2e24;
	margin-bottom: 5px;
}

#home_events .event-content div {
	color: #090909;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}


#home_events ul.events {
	margin: 0;
	overflow: auto;
}

#home_events .events li {
	position: relative;
	float: left;
	margin-bottom: 20px;	
}

<<<<<<< HEAD
#home_events {
    float: left;
    width: 350px;
}
#home_events .event-content h3{
    color: #EE2E24;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 5px;
}
#home_events .event-content div {
    color: #090909;
    font: 12px "Lucida Grande",Lucida,Verdana,sans-serif;
}
#home_events ul.events {
    margin: 0;
    overflow: auto;
}
#home_events .events li {
    float: left;
    margin-bottom: 20px;
    position: relative;
}
=======
>>>>>>> b558f3fa28cee0041a47065166c851a1cbad5f5e
#home_events .events li.last {
	margin-right: 0;
}

#home_events .events .event-content {
<<<<<<< HEAD
    background: url("http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/event.png") repeat scroll 0 0 transparent;
    height: 66px;
    margin-right: 4px;
    padding: 30px 14px 9px;
    position: relative;
    width: 143px;
    z-index: 5;
=======
	width: 143px;
	height:66px;
	padding: 30px 14px 9px 14px;
	margin-right: 4px;
	background:url(../images/event.png);
	position: relative;
	z-index: 5;
>>>>>>> b558f3fa28cee0041a47065166c851a1cbad5f5e
}

#home_events .events .event-details {
<<<<<<< HEAD
    background: url("http://alpha-theia.heroku.com.s3.amazonaws.com/sites/4d7003605b30553c28000005/theme/images/bg-details.png") repeat scroll 0 0 transparent;
    color: #916D6F;
    display: block;
    float: right;
    font: bold 10px/24px "Lucida Grande",Lucida,Verdana,sans-serif;
    height: 24px;
    margin: -6px 13px 0 0;
    text-align: center;
    text-decoration: none;
    width: 87px;
=======
	background: url(../images/bg-details.png);
	display: block;
	width: 87px;
	height: 24px;
	text-align: center;
	color: #916d6f;
	text-decoration: none;
	font: bold 10px/24px "Lucida Grande",Lucida,Verdana,sans-serif;
	float: right;
	margin: -6px 13px 0 0;

>>>>>>> b558f3fa28cee0041a47065166c851a1cbad5f5e
}























/*
.no-js #section-what {
	background: blue;
}

.no-js #section-what {
	background: blue;
}

.no-js #section-brand {
	background: orange;
}

.no-js #section-how {
	background: aqua;
}
*/



/*
	//brand
*/

.section .content {
}

.section .content ul {
	overflow: auto;
	margin: 0px;
	display: block;
}

.section .content li.left-column {
	float: left;
	width: 48%;	
	overflow: auto;
	display: block;
}

.section .content li.right-column{
	float: right;
	width: 48%;
}

.section .content li h3 {
	font-size: 20px;
	text-transform: capitalize;
	color: #ee2e24;
	margin-bottom: 10px;
}

.section li p {
	line-height: 1.6em;	
	margin-bottom: 10px;
	color: #646464;
	font-size: 12px;
}

#section-what .banner-dif {
	margin-left: -570px;
}

.footer img {
	float: left;
}

.footer {
	margin-top: 40px;
}

.footer .copyright {
	float: right;
	color:#FF6A6A;
}

#section-why {
	margin-bottom: 10px;
}












.schedule #container {
	/*
	margin-top: 150px;
	padding-top: 22px;
	background: url(../images/bg-schedule.png) left bottom no-repeat #fff;

	padding-bottom: 50px;
	*/
}

.schedule #container .wrapper {
	margin-top: 150px;
	padding-top: 22px;
	background: url(../images/bg-schedule.png) left bottom no-repeat #fff;

	padding-bottom: 50px;
}

#container div.schedule-container table tbody tr td div.content {
	
}

.schedule table {
	width: 770px;
	margin: 5px auto 10px auto;	
}

.schedule table tbody td {
	border: solid 1px #CFB7AB;
	color:black;
}

.schedule table tbody td div.content {
	width: 107px;
	height: 81px;
	border: solid 1px #FDFDFC;
	background: #F9F1ED;
	vertical-align: bottom;
	position: relative;
}

.schedule table .content .events{
	position: absolute;
	bottom: 0;
}

.schedule table .content .event {
	height: 5px;
	width: 107px;
	margin-top: 1px;
}

.schedule table tbody td.disabled div.content {
	border-color: #E3D0C7;
	background: #EDDED7;
}

.schedule table tbody td.today div.content {
	background: #FCE2D5;
}

.schedule table tbody td span.day {
	display: block;
	text-align: right;
	color:#453D39;

}
.schedule table tbody td.disabled span.day {
	display: block;
	text-align: right;
	color:#B19D93;
}

.schedule .schedule-container {
	background: #CFB7AB;
	width: 800px;
	margin: 5px auto 0 auto;
	border: double 3px #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.schedule h2 {
	color:#EE2E24;
	margin: 0 0 15px 25px;
	font-size: 20px;
}

.schedule .month a{
	background: url(../images/arrows.png) no-repeat;
	width: 31px;
	height: 24px;
	text-indent: -999em;
	display: block;
}

.schedule .month a.prev{
	float: left;
	background-position: left top;
}

.schedule .month a.next{
	float: right;
	background-position: right top;
}

.schedule .month {
	margin: 0 auto;
	width: 250px;
	position: relative;
}

.schedule .ref {
	color: #000;
	margin: 20px 0;
	list-style: none;
}

.schedule .ref li{
	float: left;
	margin-right: 30px;
}

.schedule .ref li span {
	float: left;
	width: 23px;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	margin: 4px 5px 0 0; 
}

.schedule .ref li.faire span,
.schedule table .content .faire  {
	background: #CC4AB2;
	border-color:#882174;
}

.schedule .ref li.door2door span,
.schedule table .content .door2door {
	background: #EF4A42;
	border-color:#EE2E24;
}

.schedule .ref li.workshop span,
.schedule table .content .workshop {
	background: #42A9E7;
	border-color:#0079C2;
}

.schedule .ref li.fam-trips span,
.schedule table .content .fam-trips {
	background: #89C64F;
	border-color:#AADD7A;
}

body {
	background: #EE2E24;
	overflow:hidden;
	/*-ms-overflow-y:hidden;*/
}

a,
a:visited {
	color:white;
}

/*
	Logo
*/
h1#logo {
	background: url(../images/logo.png);
height: 98px;
    left: 0;
    position: absolute;
    top: 27px;
    width: 164px;
}

h1 a {
	width: 164px;
	height: 98px;	
	text-indent: -999em;
	display: block;
}

/*
	Header
*/


div#counter.clearfix {
	text-align: center;
	padding: 0px 10px;
	color: #ee2e24;
	margin-bottom: 10px;
	background: url(../images/background_contador.jpg) 0 -6px;
	height: 60px;
}

#counter_content {
	padding-top: 10px;
	font-size: 20px;
}

span#countdown_timer.hasCountdown {

}

#counter_content span.counter_days,
#counter_content span.counter_hours,
#counter_content span.counter_minutes  {
	font-family: Arial, Helvetica, Geneva, sans-serif !important;
	color: #f3f3f3;
	padding: 5px 12px;
	padding-right: 8px;
	width: 100px;
	font-size: 30px;
	letter-spacing: 14px;
	background: url(../images/background_counter.png) no-repeat scroll;
}

#counter_content em {
	color: #6a6a6a;
	font: bold 18px;
	margin-right: 10px;
}

/*.schedule #header {
    position: fixed;
    top: 0;
    margin: 17px auto 35px auto;
}*/

#bg-header {
	position: fixed;
	height: 255px;
	top:0px;
	left:0;
	right: 18px;
	background: url(../images/bg-header.png) right top no-repeat;
}

#header #follow-us {
	list-style: none;
	   margin: 0;
    position: absolute;
    right: 0;
    top: 17px;
}

#header #follow-us li {
	float: left;
	margin: 0 3px;
}

#header #follow-us li.title {
	text-transform: uppercase;
	font-size: 11px;
	margin: 5px 10px 0 0;
}

#header #follow-us li a {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/follow-us.png);
	text-indent: -999em;
	/*font-family: 'Bree';*/
}
#home_news ul.comments li.comment.clearfix div.comment-content {
	line-height: 1.6em;
}

#section-brand div.content.clearfix ul.clearfix h3 {
	font-size: 25px;
	margin-bottom: 10px;
	color: #ee2e24;
}

#section-brand div.content.clearfix ul.clearfix p {
	margin-bottom: 10px;
	width: 90%;
	line-height: 1.6;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #616161;
}

.section div.content.clearfix ul.clearfix h4 {
	color: #ee2e24;
	font-size: 18px;
	margin-bottom: 10px;
}
#home_news ul.comments li.comment.clearfix div.comment-content h3 {
	font-size: 14px;
	line-height: 1.7em;
}

#header #follow-us .twitter {}
#header #follow-us .twitter:hover {
	background-position: left bottom;
}

#header #follow-us .facebook {
	background-position: -20px top;
}

#header #follow-us .facebook:hover {
	background-position: -20px bottom;
}

#header #follow-us .youtube {
	background-position: -40px top;
}

#header #follow-us .youtube:hover {
	background-position: -40px bottom;
}

#header #menu li,
#header #follow-us li{
	float: left;
}

#header #menu {
bottom: 47px;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 0;

}

#menu li {
	margin: 0 24px;
}

#menu li a {
	text-transform: uppercase;
	font-size: 13px;
	float:left;
	/*font-family: 'Bree';*/
	text-decoration: none;
	font-weight: lighter;
	color: #fffcf4;
}

#menu li a:hover {

	color: #f8fcb8;
}

#menu li span {
	display:block;
	font-size: 19px;
	font-weight: lighter;
}

/*
	//header
*/

/*
	generales
*/
#container{
	width: 100%;
}

.schedule #container .wrapper{
	width: 857px;
}

#container ul{
	list-style: none;
}

.section .link-anchor {
	display: block;
	height: 159px;
}

.section {
    position: relative;
    margin: 0 auto 300px 0;
}

#section-why {
	margin-bottom: 0;
}

.section .content{
	background: white;
	padding: 25px;
	color: black;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.banner-bg {
	width: 855px;
	height: 325px;
	margin-left: -20px;
	position: relative;
	background: url(../images/bg-banner.png);
	padding: 0 20px 34px 20px;
}

.banner-dif {
	background: url(../images/banners/diffuse_home.png);
  	height: 325px;
    margin-left: -513px;
    position: absolute;
    width: 1907px;
    overflow:hidden;
    margin-top: 1px;

}

#container div.banner-dif {
	z-index: -10;
}

.banner {
	width: 855px;
	height: 325px;
	position: relative;
	border: solid 1px #EA8F86;
	margin-bottom: 25px;
}

/*
	//generales
*/

.see-all {
	float:right;
	border:solid 1px;
	border-top-color:#700702;
	border-bottom-color:#DC3C35;
	border-left-color:#93130D;
	border-right-color:#93130D;
	padding:9px;
	background:#93130D;
	height: 25px;
	width: 139px;
	text-align: center;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

.see-all a{
	height: 23px;
	width: 137px;
	border:solid 1px;
	border-top-color:#F1524B;
	border-bottom-color:#EC2116;
	border-left-color:#EC2116;
	border-right-color:#EC2116;
	background:#EC2116;
	display: block;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;	
}

.see-all a:hover {
	color: #d9d9d9;
}

#event_content div.left_column h3  {
	font-size: 19px;
	margin-top: 10px;
}

/*
	home
*/

#section-home .banner .banner-links{
	margin: 0;
	position: absolute;
	right: 0;
	top:0;
	height: 287px;
	width: 148px;
	padding: 38px 20px 0 79px;
	background: url(../images/banner-links2.png) left top;
	z-index: 40;
	list-style-image: url(../images/bullet.png);
}

#section-home .content {
	background: url(../images/bg-content.png) repeat;
}

#section-home .banner .banner-links li{
	margin-bottom: 15px;
	position: relative;
}

#section-home .banner .banner-links a{
	text-decoration: none;
	font-size: 13px;
	/*font-family:'Bree';*/
}

#section-home div.banner-bg div.banner ul.banner-links li.video a {
}


#section-home .banner .banner-links a:hover{
	text-decoration: underline;
}

#section-home .banner .banner-links li.last{
	margin-bottom: 10px; 
}

#section-home .banner .banner-links li.video{
	list-style: none;
	width: 122px;
	height:84px;
	border: solid 1px #fff;
}

#section-home .banner .banner-links li.video span{
	width: 46px;
	height: 47px;
	display: block;
	background: url(../images/play-button.png) no-repeat;

	margin-top: -23px;
	margin-left: -23px; 
}

#section-home .banner .banner-content{
	margin: 0;
	/*width: 660px;*/
	height: 325px;
	list-style: none;
	overflow: hidden;
}

#home_news {
	width: 450px;
	float: left;
}



.comments {
	margin: 0;
	list-style: none;
}

#section-home .content h2 {
	margin-bottom: 10px;
	/*font-family: 'Bree';*/
	font-size: 20px;
	font-weight: lighter;
	color:white;
}

.comments h3 {
	margin-bottom: 8px;
	font-size: 13px;
}

.comments .avatar {
	margin-top: 5px;
}

#section-brand-inner {
	margin-top: 12em;
}

#section-brand-inner div.content.clearfix h3 {
	font-size: 20px;
	color: #ee2e24;
	margin-bottom: 20px;
}

#section-brand-inner div.content.clearfix p {
	width: 80%;
	margin-bottom: 10px;
	color: #4a4a4a;
	line-height: 1.6em;
}

#section-brand-inner div.content.clearfix h4 {
	color: #ee2e24;
	margin-bottom: 10px;
	font-size: 16px;
}
.comments .avatar .bg{
	background: url(../images/bg-avatar.png) center center;
	position: absolute;
	width: 107px;
	height: 65px;
	
}

.comments .comment-content{
	float: left;
	width: 300px;
	background: url(../images/bg-comment.png) left bottom no-repeat;
	padding-bottom: 15px;
	margin-bottom: 30px;
	color:white;
}


#home_events {
	float: left;
	width: 350px;
}

#home_events .event-content h3 {
	/*font-family:'Bree';*/
	font-size: 17px;
	font-weight: lighter;
	color: #ee2e24;
	margin-bottom: 5px;
}

#home_events .event-content div {
	color: #090909;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}


#home_events ul.events {
	margin: 0;
	overflow: auto;
}

#home_events .events li {
	position: relative;
	float: left;
	margin-bottom: 20px;
	width: 175px;	
}

#home_events .events li.last {
	margin-right: 0;
}

#home_events .events .event-content {
	width: 143px;
	height:66px;
	padding: 30px 14px 9px 14px;
	margin-right: 4px;
	background:url(../images/event.png);
	position: relative;
	z-index: 5;
}

#home_events .events .event-details {
	background: url(../images/bg-details.png);
	display: block;
	width: 87px;
	height: 24px;
	text-align: center;
	color: #916d6f;
	text-decoration: none;
	font: bold 10px/24px "Lucida Grande",Lucida,Verdana,sans-serif;
	float: right;
	margin: -6px 13px 0 0;

}























/*
.no-js #section-what {
	background: blue;
}

.no-js #section-what {
	background: blue;
}

.no-js #section-brand {
	background: orange;
}

.no-js #section-how {
	background: aqua;
}
*/



/*
	//brand
*/

.section .content {
}

.section .content ul {
	overflow: auto;
	margin: 0px;
	display: block;
}

.section .content li.left-column {
	float: left;
	width: 48%;	
	overflow: auto;
	display: block;
}

.section .content li.right-column{
	float: right;
	width: 48%;
}

.section .content li h3 {
	font-size: 20px;
	text-transform: capitalize;
	color: #ee2e24;
	margin-bottom: 10px;
}

.section li p {
	line-height: 1.6em;	
	margin-bottom: 10px;
	color: #646464;
	font-size: 12px;
}

#section-what .banner-dif {
	margin-left: -570px;
}

.footer img {
	float: left;
}

.footer .copyright {
	float: right;
	color:#FF6A6A;
}

#section-why {
	margin-bottom: 10px;
}











.schedule table {
	width: 770px;
	margin: 5px auto 10px auto;	
}


.schedule table tbody td div.content {
	width: 107px;
	height: 81px;
	border: solid 1px #FDFDFC;
	background: #F9F1ED;
	vertical-align: bottom;
	position: relative;
}

.schedule table .content .events{
	position: absolute;
	bottom: 0;
}

.schedule table .content .event {
	height: 5px;
	width: 107px;
	margin-top: 1px;
}

.schedule table tbody td.disabled div.content {
	border-color: #E3D0C7;
	background: #EDDED7;
}

.schedule table tbody td.today div.content {
	background: #FCE2D5;
}

.schedule table tbody td span.day {
	display: block;
	text-align: right;
	color:#453D39;

}
.schedule table tbody td.disabled span.day {
	display: block;
	text-align: right;
	color:#B19D93;
}

.schedule .schedule-container {
	background: #CFB7AB;
	width: 800px;
	margin: 5px auto 0 auto;
	border: double 3px #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
body.schedule {
	background: #6a2100;
}

.schedule h2 {
	color:#EE2E24;
	margin: 0 0 15px 25px;
	font-size: 20px;
}

.schedule .month a{
	background: url(../images/arrows.png) no-repeat;
	width: 31px;
	height: 24px;
	text-indent: -999em;
	display: block;
}

.schedule .month a.prev{
	float: left;
	background-position: left top;
}

.schedule .month a.next{
	float: right;
	background-position: right top;
}

.schedule .month h3{
    position: absolute;
    text-align: center;
    width: 100px;
    margin-left: 80px;
	color:#453D39;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
}

#home_events ul.events li.event.clearfix div.event-content div a {
	color: #3f3f3f;
	text-decoration: none;
}

#section-how div.content.clearfix ul.clearfix  h4 {
	font-size: 24px;
}

.schedule .month {
	margin: 0 auto;
	width: 250px;
	position: relative;
}

.schedule .ref {
	color: #000;
	margin: 20px 0;
	list-style: none;
}

#event_content div.left_column p {
	margin-top: 10px;
	margin-bottom: 20px;
}

#event_details  {
	margin-top: 10px;
	
}
#event_details img {
	padding: 5px;
	background-color: #7b110c;
}
.schedule .ref li{
	float: left;
	margin-right: 30px;
}

.schedule .ref li span {
	float: left;
	width: 23px;
	height: 5px;
	border-width: 1px;
	border-style: solid;
	margin: 4px 5px 0 0; 
}

.schedule .ref li.faire span,
.schedule table .content .faire  {
	background: #CC4AB2;
	border-color:#882174;
}

.schedule .ref li.door2door span,
.schedule table .content .door2door{
	background: #EF4A42;
	border-color:#EE2E24;
}

.schedule .ref li.workshop span,
.schedule table .content .workshop {
	background: #42A9E7;
	border-color:#0079C2;
}

.schedule .ref li.fam-trips span,
.schedule table .content .fam-trips {
	background: #89C64F;
	border-color:#AADD7A;
}
.photo_gallery li.event {
	width: 100px !important;
	margin-right: 10px;
}

#section-brand-inner div.content.clearfix div.clearfix div.see-all {
	float: left;
	margin: 20px 0px;
}
.photo_gallery img {
	width: 100px !important;
	height: 70px !important;
}
