body{
	background:#EE2E24;
	font-family:Helvetica, Arial, Verdana;
	font-size:14px;
}
#container{
	display:block;
	width:900px;
	margin:0 auto;
}
.wrapper{
	background:#DD1D13;
	overflow:hidden;
}
.wrapper .col{
	display:block;
	float:left;
	width:48%;
}
